{% extends 'carb_count/base.html' %}

{% block title %}
    Product list
{% endblock %}

{% block content %}
    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Carbohydrates</th>
                <th>Fat</th>
                <th>Protein</th>
                <th>kCal</th>
                <th>Unit description</th>
                <th>Unit weight (g)</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for product in products %}
                <tr>
                    <td>{{ product.pk }}</td>
                    <td>{{ product.name }}</td>
                    <td>{{ product.carbs.normalize }}</td>
                    <td>{{ product.fats.normalize }}</td>
                    <td>{{ product.proteins.normalize }}</td>
                    <td>{{ product.calories.normalize }}</td>
                    <td>{{ product.unit_name }}</td>
                    <td>{{ product.unit_weight.normalize }}</td>
                    <td><a href="{% url 'edit_product' pk=product.pk %}" class="btn btn-info" aria-label="Edit"><span
                            class="fas fa-pencil-alt" aria-hidden="true"></span></a></td>
                    <td><form action="{% url 'delete_product' pk=product.pk %}" method="POST">{% csrf_token %}<button type="submit" class="btn
                    btn-warning" aria-label="Delete"><span class="fas fa-trash-alt" aria-hidden="true"></span></button></form></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
