{% extends 'carb_count/base.html' %}

{% load widget_tweaks %}

{% block content %}

    {% if edit_mode %}
<p id="prod_form_edit_message">You are editing <strong><i>{{ product.name|truncatechars:25 }}</i></strong> product.</p>
    {% endif %}

    <form method="POST" class="post-form" id="product-form">
        {% csrf_token %}

        {% for field in form %}
            {% if field.name == "name" %}
                <div class="form-group">
                    {{ field.label_tag }}
                    {% render_field field class+="form-control" %}
                    {{ field.errors }}
                </div>
            {% else %}
                {% if forloop.counter|divisibleby:"2" %}
                    <div class="form-row">
                {% endif %}
                        <div class="form-group col-md-6 {% if forloop.counter|divisibleby:"2" %}pr-md-4{% else %}pl-md-4{% endif %}">
                            {{ field.label_tag }}
                            {% render_field field class+="form-control" %}
                            {{ field.errors }}
                        </div>
                {% if not forloop.counter|divisibleby:"2" %}
                    </div>
                {% endif %}
            {% endif %}
        {% endfor %}

        {% if edit_mode %}
            <div class="form-row justify-content-md-center">
                <div class="col-md-auto pl-md-3">
                    <a href="{% url 'product_list' %}" class="btn" id="cancel-changes">Cancel</a>
                </div>
                <div class="col-md-auto pr-md-3">
                    <button type="submit" class="btn">Save</button>
                </div>
            </div>
        {% else %}
            <button type="submit" class="btn">Save</button>
        {% endif %}

    </form>
{% endblock %}
