html {
    scroll-behavior: smooth;
}

body {
    color: rgb(250, 250, 250);
    background-image: url("../images/background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

html, body {
  height: 100%;
}

.fill {
    min-height: 100%;

}

#content-wrapper {
    background-color: rgba(29, 30, 37, 0.7);
    margin: 0 auto;
    padding: 45px 60px;
}

header {
    margin-bottom: 10px;
}

h1 {
    font-family: 'Pacifico', cursive;
    color: #CC0000;
    text-align: center;
}

nav {
    margin-top: 15px;
    background-color: rgba(29, 30, 37, 0.8);
    font-family: 'Work Sans', sans-serif;
    font-weight: bold;
}

nav .nav-item  a {
    color: #33cccc;
    padding-left: 15px !important;
    padding-right: 15px !important;
    text-align: center;
}

nav .nav-item.active a {
	color: #ffcc00;
}

nav .nav-item  a:hover {
    background-color: rgba(63, 65, 80, 0.8);
}

.message-wrapper {
    display: block;
    min-height: 62px;
    margin: 15px auto 0 auto;
    text-align: center;
}

.message-wrapper .alert {
    border: 1px solid;
    width: 70%;
    display: block;
    margin: 0 auto;
}

.alert.success {
    border-color: white;
    color: white;
}

.alert.error {
    border-color: red;
    color: red;
}

.message-wrapper button.close {
    color: white;
}

.table-fix-head {
    overflow-y: auto;
    height: 57vh;
}

.table-fix-head thead th {
    position: sticky;
    top: -1px;
}

th {
    background: #f08628;
    font-size: 14px;
    font-family: 'Work Sans', sans-serif;
    font-weight: 900 !important;
}

td {
    font-size: 13px;
}

.table-dark {
    background-color: rgba(29, 30, 37, 0.8);
}

a.btn.btn-info, button.btn.btn-warning, button.btn.btn-success, button.btn.btn-secondary, button.btn.btn-danger {
    font-size: 13px;
}

.modal {
    color: black;
}

.modal-header {
    color: white;
    background-color: rgb(240, 134, 40);
}

#modal-delete-button {
    color: white;
    background: rgb(240, 134, 40);
    border-color: rgb(240, 134, 40);
    font-size: 16px;
}

#modal-delete-button:hover {
    background: rgb(214, 109, 15);
}

#modal-cancel-button:hover {
    color: white;
    background: rgb(164, 164, 164);
    border-color: rgb(164, 164, 164);
}

.errorlist {
    color: red;
}

#product-form button[type="submit"] {
    font-family: 'Work Sans', sans-serif;
    font-size: 15.5px;
    color: white;
    background: rgb(188, 38, 26);
    border-color: rgb(188, 38, 26) !important;
    margin: 20px auto 0 auto;
    display: block;
    padding: 8px 30px;
}

#cancel-changes {
    font-family: 'Work Sans', sans-serif;
    font-size: 15.5px;
    color: white;
    background: rgb(68, 71, 84);
    border-color: rgb(68, 71, 84) !important;
    margin: 20px auto 0 auto;
    display: block;
    padding: 8px 30px;
}

#product-form button[type="submit"]:hover {
    background: rgb(166, 33, 23);
    border-color: rgb(166, 33, 23) !important;
}

#cancel-changes:hover {
    background: rgb(57, 59, 70);
    border-color: rgb(57, 59, 70) !important;
}

#prod_form_edit_message {
    margin: 0 auto;
    padding: 0 0 2px 0;
    text-align: center;
    font-size: 15px;
    color: #ffcc00;
}
